.place__link {  
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  transition-timing-function: linear;
  line-height: 22px;
  transition-duration: 0.3s;
  transition-delay: 0.1s;
}
