.place__link {  
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  transition-timing-function: linear;
  line-height: 22px;
  transition-duration: 0.3s;
  transition-delay: 0.1s;
}
.place__link:last-of-type {
  margin: 0;
}
.place__link:hover {
  opacity: .8;
  transition: opacity .8s;
}
@media screen and (max-width: 470px){
  .place__link {
      font-size: 16px;
  }
}
@media screen and (max-width: 460px){
  .place__link {
    font-size: 18px;
  }
}
