.place__website {
  align-self: flex-end;
}

@media screen and (max-width: 568px) {
  .place__website {
    margin: 0 auto 32px;
    width: calc(100% - 32px);
    text-align: center;  
  }
}
@media screen and (max-width: 320px) {
  .place__website {
    margin-bottom: 22px;
    line-height: 35px;
    text-align: left;
  }
}
